
/*
======================
Css Wesley
======================
*/
*{
  box-sizing: content-box;
  margin: 0;
}
.conta_criada{
  text-align: center;
  color: black;
  font-size: 20px;
}

.conta_existente{
  text-align: center;
  color: black;
  font-size: 20px;
}

.quarto1{
  text-align: center;
  border: solid 2px black;
  width: 33%;
}

.quarto1 img{
  width: 268px;
  height: 188px;
}

.quartos1{
  border: solid 1px;
  margin: 4px;
  background-color: #228B22;
  padding: 6px;
  font-size: 20px;
  display: flex;
}

#div_pai{
  display: inline-flex;
  width: 100%;
}

.alugar_button{
  background-color: #B22222;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 100px;
  width: 80px;
  height: 25px;
  text-decoration: none;
}

.alugar_button:hover{
  background-color: #00FFFF;
  transition: 0.5s;
}
/*
=====================
Form Family
====================
*/
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*
======================
Form User
Formulario de usuario de registro
======================
*/

.form{
  background-image: url("../images/quartos/pexels-pixabay-164595.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 1000px;
  width: 100%;
  height: 100%;
}
.log{
  padding-top: 50px;
  text-align: center;
  width: 500px;
  height: 500px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  background-color: #ffffff98;
  background-size: 500px 500px;
  margin-top: 150px;
  margin-left: 400px;
  border-radius: 100px;
  font-family: 'Courier New', Courier, monospace;
}
.log label{
  text-align: center;
}
.log input[type="text"]{
  width: 200px;
  outline: none;
}
.log input[type=number]{
  outline: none;
}
.log input[type=email]{
  outline: none;
}
.log input[type=submit] {
  border-radius: 5px;
  border: 1px solid #333;
  background-color: Teal;
  color: #fff;
  height: 50px;
  width: 100px;
}
.log input[type=button]{
  border-radius: 5px;
  border: 1px solid #333;
  background-color: red;
  color: #fff;
  height: 50px;
  width: 100px
}
.log h1{
  font-family: 'Grand Hotel', cursive;
  font-size: 50px;
  color: #333;
  text-shadow: 2px 2px rgb(255, 255, 255);
}
/**
=======================

=======================
*/
.direitos{
  display: inline-block;
  width: 100%;
  height: 200px;
  background-color: #F2F2F2;
}
.direitos ul{
  list-style-type: none;
}
.direitos{
  text-align: center;
}
.direitos img{
  width: 20px;
  height: 20px
}
@media screen {
  
}
/*
========================
Form de usuario de login
========================
*/

/*
========================
Menu and layout for Menu Main
Menu é layout do Menu principral
========================
*/
.GridClient{
  height: 2800px;
  width: 1365px;
  display: grid;
  grid-template-columns: 1365px;
  grid-template-rows: 400px 100px 400px 400px 300px 400px 400px 400px;
  grid-template-areas:  
  "Menu"
  "infor"
  "QuartoDeAmostra"
  "QuartoSeleção"
  "InforExtra"
  "Serviço"
  "HotelInfor"
  "Footer"
  ;
}
/*Menu*/
.menu{
  grid-area: Menu;
  background-image: url("../images/layout/.jpg");
  background-size: 1365px 400px;
  background-repeat: no-repeat;
}
.menu ul{
  background-color: #F2F2F2;
  width: 800px;
  height: 30px;
  margin-top: 40px;
  margin-left: 300px;
  padding: 20px;
}
.menu ul li{
  display: inline;
  padding: 20px;
}
.menu ul li a{
  text-decoration: none;
  color: #A64F03;
}
/*
Boans vindas
*/
.infor{
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, #010326, #0b48ff);
  grid-area: infor;
  display: grid;
  grid-template-areas:
  "intro logo"
  ;
}
.inforintro{
  grid-area: intro;
  font-size: 14px;
  width: 1000px;
}
.inforintro p{
  color: #fff;
  padding-top: 20px;
  padding-left: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
.inforlogo{
  grid-area: logo;
  width: 365px;
  background-image: url("../images/layout/icons8-hotel-90.png");
  background-image: 90px 90px;
  background-repeat: no-repeat;
}
/*
=================
Quartos De Amostra
=================
*/
.QuartoDeAmostra{
  grid-area: QuartoDeAmostra;
  display: grid;
  grid-template-areas:  
  "Quarto1 Quarto2"
  ;
}
.AmostraQuarto1{
  background-image: url("../images//quartos/quarto2.jpeg");
  background-size: 500px 300px;
  background-repeat: no-repeat;
  margin-left: 140px;
  margin-top: 50px;
  background-color: #282929;
   width: 500px;
   height: 300px;
   grid-area: Quarto1;
}
.AmostraQuarto2{
  background-image: url("../images/quartos/quarto1.jpeg");
  background-size: 500px 300px;
  background-repeat: no-repeat;
  margin-top: 50px;
  grid-area: Quarto2;
  background-color: #070707;
  width: 500px;
  height: 300px;
}
.InforAmostraQuarto{
  margin-top: 300px;
  background-color: #F2F2F2;
  border: 2px solid black;
}
/*
============================
Seleçaõ de quarto
============================
*/
.QuartosSeleção{
   grid-area: QuartoSeleção;
   background-image: linear-gradient(to bottom right, #010326, #0b48ff);
   display: grid;
   grid-template-areas: 
   "Quarto1 Quarto2 Quarto3"
   ;
}
.QuartoPadrão{
  background-image: url("../images/quartos/quarto1.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  margin-top: 20px;
  margin-left: 60px;
  width: 300px;
  height: 300px;
  grid-area: Quarto1;

}
.QuartoVip{
  background-image: url("../images/quartos/quarto2.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  margin-top: 20px;
  grid-area: Quarto2;
  width: 300px;
  height: 300px;
}
.QuartoPremiun{
  background-image: url("../images/quartos/quarto3.jpeg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  margin-top: 20px;
  grid-area: Quarto3;
  width: 300px;
  height: 300px;
}
.QuartosInfor{
  margin-top: 250px;
  background-color: #bdbdbd;
  height: 100px;
  color: #eee;
  text-align: center;
}
/* 
=======================
Infor Extra
=======================
*/
.InforExtra{
  grid-area: InforExtra;
  display: grid;
  grid-template-areas:  
  "Food Show Bar Config"
  ;
}
.InforFood{
  margin-left: 5px;
  margin-top: 20px;
  width: 320px;
  grid-area: Food;
  height: 320px;
}
.InforShow{ 
  margin-top: 20px;
  width: 320px;
  height: 320px;
  grid-area: Show; 
}
.InforBar{
  margin-top: 20px;
  height: 320px;
  width: 320px;
  grid-area: Bar;
}
.InforConfig{
  height: 320px;
  margin-top: 20px;
  width: 320px;
  grid-area: Config;
}
/*
Infor config
*/
.InforFood div{
  border-radius: 50px;
  background-color: #ffc609;
  margin-top: 30px; 
  margin-left: 110px;
  width: 100px;
  height: 100px;
  background-image: url("../images/inforextra/icons8-comida-fast-food-street-food-18-100.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
}
.InforFood h3{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 5px 5px 8px rgba(165, 9, 9, 0.83);
}
.InforFood p{
  padding-top:20px ;
  font-size: 14px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.InforShow div{
  background-color: #ffc609;
  border-radius: 50px;
  margin-top: 30px; 
  margin-left: 110px;
  width: 100px;
  height: 100px;
  background-image: url("../images/inforextra/icons8-falar-em-público-90.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
}
.InforShow h3{
  text-shadow: 5px 5px 8px rgba(100, 9, 165, 0.712);
   text-align: center;
   color: rgb(0, 0, 0);
   font-family: 'Courier New', Courier, monospace;
}
.InforShow p{
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.InforBar div{
  background-color: #ffc609;
  border-radius: 50px;
  margin-top: 30px; 
  margin-left: 112px;
  width: 100px;
  height: 100px;
  background-image: url("../images/inforextra/icons8-food-bar-100.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
}
.InforBar h3{
  text-align: center;
  text-shadow: 5px 5px 8px rgba(255, 225, 0, 0.83);
  color: rgb(0, 0, 0); 
  font-family: 'Courier New', Courier, monospace;
}
.InforBar p{
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.InforConfig div{
  background-color: #ffc609;
  border-radius: 50px;
  margin-top: 30px; 
  margin-left: 114px;
  width: 100px;
  height: 100px;
  background-image: url("../images/inforextra/engrenagem.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
}
.InforConfig h3{
  text-shadow: 5px 5px 8px rgba(170, 122, 0, 0.83);
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}
.InforConfig p{
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  color: rgb(0, 0, 0);
}
/*
==========================
Infor de Serviço
==========================
*/
.Serviço{
  grid-area: Serviço;
  display: grid;
  grid-template-areas: 
  "titulo titulo titulo" 
  "ServiçoDeQuarto ServiçoDeLimpeza ServiçoDeCozinha"
  ;
}
.Serviço h2{
  grid-area: titulo;
  text-shadow: 2px 2px 8px #d5b60b;
  font-size: 30px;
  padding-left: 540px;
  font-family: 'Courier New', Courier, monospace;
}
.ServiçoDeQuarto{
  margin-left: 25px;
  grid-area: ServiçoDeQuarto;
  width: 400px;
  height: 340px;
}
.ServiçoDeQuarto div{
  border-radius: 110px;
  margin-left: 40px;
  background-position: center;
  background-image: url("../images/layout/serviçodequarto.jpeg");
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.ServiçoDeQuarto h3{
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 8px #0bd51c;
  color: rgb(14, 14, 14);
}
.ServiçoDeQuarto  p{
  text-shadow: 2px 2px 8px #d5b60b;
  font-size: 14px;
  text-align: center;
}
.ServiçoDeLimpeza{
  grid-area: ServiçoDeLimpeza;
  width: 400px;
  height: 340px;
}
.ServiçoDeLimpeza div{
  border-radius: 110px;
  margin-left: 40px;
  background-position: center;
  background-image: url("../images/layout/serviçp.jpeg");
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.ServiçoDeLimpeza h3{
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 8px #0b19d5;
  color: rgb(0, 0, 0);
}
.ServiçoDeLimpeza p{
  font-size: 14px;
  text-align: center;
}
.ServiçoDeCozinha{ 
  width: 400px;
  height: 340px;
  grid-area: ServiçoDeCozinha;
}
.ServiçoDeCozinha div{
  border-radius: 110px;
  margin-left: 40px;
  background-position: center;
  background-image: url("../images/layout/cozinha.jpeg");
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
.ServiçoDeCozinha h3{
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 8px #bd0d0d;
  color: rgb(0, 0, 0);
}
.ServiçoDeCozinha p{
  font-size: 14px;
  text-align: center;
}
/*
===================
HotelInfor
===================
*/
.HotelInfor{
  border: 2px solid black;
  grid-area: HotelInfor;
  display: grid;
  grid-template-areas:  
  "feedback1 feedback2"
  ;
}
.HotelFeedback1{
  margin-top: 50px;
  margin-left: 60px;
  grid-area: feedback1;
  width: 600px;
  height: 300px;
}
.HotelFeedback2{
  margin-top: 50px;
  grid-area: feedback2;
  width: 600px;
  height: 300px;
}
.HotelFeedback1 p{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.HotelFeedback2 p{
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
/*
===============================
//        Footer             //
===============================
*/
.Footer{
  background-color: rgb(27, 57, 114);
  display: grid;
  grid-area: Footer;
  grid-template-areas:  
  "email about privacy contactus"
  ;
}
.empressa {
  grid-area: email;
  color: #fff;
  background-color: #00FFFF;

}
.about{
  display: grid;
  grid-area: about;
  display: grid;
  grid-template-areas: 
  "Service"
  "About"
  "Terms"
  ;
  background-color: #0bd51c;
}