 /*
=====================
*Variavel em Css 
=====================
 */
 @charset "UTF-8";
 :root{
   --LinearGradientEscurp:   linear-gradient(to right, #0d0306c5, #260B12);
   --FontDeText: 'Hurricane', cursive;
   --FontDeMenu: 'Quicksand', cursive;
   --CorDeFundoDeQuarto:   linear-gradient(to right,#D2D8D9, #BFB0A3);
   --CorDeServicoDeQuarto:  linear-gradient(to right, #0d0306, #260b12);
   --CorDeHedarQuartoPadrao: linear-gradient(to right, #a30f3bd5, #5d0a20);
   --CorDeFonteBranca: #D2D8D9;
   --CorDeFundoFuncionario: linear-gradient(to right, #141414, #080808, #0D0D0D);
   --CorCristal1: #F2F2F2 ;
   --CorCristal2: #D9D9D9;
   --CorCristal3: #BFBFBF;
   --CorCristal4: #8C8C8C;
   --CorCristal5: #595959;
   --CorOuro1: #F2C53D;
   --CorOuro2: #F2D57E;
   --CorOuro3: #D99C2B;
   --CorOuro4: #A6691F;
   --CorOuro5: #8C521F;
   --CorVermelho: #5d0a20;
   --GradientCristal: linear-gradient(to right, #F2F2F2, #D9D9D9, #BFBFBF);
   --GradienteVermelhorEscuro:   linear-gradient(to right, #0d0306c5, #260B12);
   --FontHurricane: 'Hurricane', cursive;
   --FontQuicksand: 'Quicksand', cursive;
   --GradienteCinza:   linear-gradient(to right,#D2D8D9, #BFB0A3);
   --GradienteVermelhoEscuro2:  linear-gradient(to right, #0d0306, #260b12);
   --GradienteRosaEscuro: linear-gradient(to right, #a30f3b, #5d0a20);
   --GradienteRosaEscuro2: linear-gradient(to right, #a30f3b2b, #5d0a203c);
   --CorBrancaClara: #D2D8D9;
   --GradienteTriploEscuro: linear-gradient(to right, #141414, #080808, #0D0D0D);
   --FontSizeGrande: 50px;
   --FontSizeMedium: 24px;
   --FontSizePequeno: 20px;
   --FontSizeExtraPequena: 17px;
 }
 body{
   overflow-x: hidden;
 }
/*
======================
Css Wesley
======================
*/
*{
  box-sizing: content-box;
  margin: 0;
}
.conta_criada{
  text-align: center;
  color: black;
  font-size: 20px;
}

.conta_existente{
  text-align: center;
  color: black;
  font-size: 20px;
}

.quarto1{
  text-align: center;
  border: solid 2px black;
  width: 33%;
}

.quarto1 img{
  width: 268px;
  height: 188px;
}

.quartos1{
  border: solid 1px;
  margin: 4px;
  background-color: #228B22;
  padding: 6px;
  font-size: 20px;
  display: flex;
}

#div_pai{
  display: inline-flex;
  width: 100%;
}

.alugar_button{
  background-color: #B22222;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 100px;
  width: 80px;
  height: 25px;
  text-decoration: none;
}

.alugar_button:hover{
  background-color: #00FFFF;
  transition: 0.5s;
}
/*
=====================
Form Family
====================
*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/*
======================
Form User
Formulario de usuario de registro
======================
*/

.form{
  background-image: url("../images/layout/Serviços/pexels-pixabay-164595.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 1000px;
  width: 100%;
  height: 100%;
}
.log{
  padding-top: 50px;
  text-align: center;
  width: 500px;
  height: 500px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  background-color: #ffffff98;
  background-size: 500px 500px;
  margin-top: 150px;
  margin-left: 400px;
  border-radius: 100px;
  font-family: 'Courier New', Courier, monospace;
}
.log label{
  text-align: center;
}
.log input[type="text"]{
  width: 200px;
  outline: none;
}
.log input[type=number]{
  outline: none;
}
.log input[type=email]{
  outline: none;
}
.log input[type=submit] {
  border-radius: 5px;
  border: 1px solid #333;
  background-color: Teal;
  color: #fff;
  height: 50px;
  width: 100px;
}
.log input[type=button]{
  border-radius: 5px;
  border: 1px solid #333;
  background-color: red;
  color: #fff;
  height: 50px;
  width: 100px
}
.log h1{
  font-family: 'Grand Hotel', cursive;
  font-size: 50px;
  color: #333;
  text-shadow: 2px 2px rgb(255, 255, 255);
}
/**
=======================

=======================
*/
.direitos{
  display: inline-block;
  width: 100%;
  height: 200px;
  background-color: #F2F2F2;
}
.direitos ul{
  list-style-type: none;
}
.direitos{
  text-align: center;
}
.direitos img{
  width: 20px;
  height: 20px
}
@media screen {
  
}
/*
========================
Form de usuario de login
========================
*/

/*
========================
Menu and layout for Menu Main
Menu é layout do Menu principral
========================
*/
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
/**/
.MenuPrincipal{
  display: inline-flex;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: var(--CorVermelho);
}
.LogoDoSite{
  margin-left: 45px;
  list-style: none;
  width: 100px;
  height: 80px;
}
.LogoDoSite img{
  width: 100px;
  height: 100px;
}
.Navegacao{
  padding-top: 25px;
  width: 500px;
}
.Navegacao li{
  display: inline;
  padding: 20px;
}
.Navegacao li a{
  text-decoration: none;
  font-size: var(--FontSizeExtraPequena);
  font-family: var(--FontQuicksand);
  color: var(--CorBrancaClara);
}
.Contantos{
  padding-top: 15px;
  display: inline;
  list-style: none;
  width: 500px;
  height: 80px;
  text-align: center;
}
.Contantos li{
  padding-left: 10px;
  display: inline;
}
.Contantos img{
  width: 40px;
  height: 40px;
  display: inline;
}
.BemVindo{
  background: url("../images/layout/Serviços/pexels-pixabay-164595.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100% 700px;
  width: 100%;
  height: 700px;
  display: flex;
}
.BemVindo div{
  margin-top: 200px;
  margin-left: 300px;
  width: 800px;
  height: 170px;
}
.BemVindo h1{
  text-align: center;
  width: 800px;
  font-family: var(--FontQuicksand);
  font-size: var(--FontSizeGrande);
  color: var(--CorCristal5);
}
.BemVindo div p{
  color: var(--CorCristal5);
  padding-top: 50px;
  font-size: var(--FontSizeMedium);
  text-align: center;
  font-family: var(--FontQuicksand);
}
.MenuDeSessao{
  margin: auto;
  width: 600px;
  height: 80px;
  background-color: var(--CorVermelho);
  border-radius: 0px 0px 10px 10px;
}
.MenuDeSessao ul{
  padding-top: 30px;
  padding-left: 130px;
  list-style: none;
}
.MenuDeSessao li{
  display: inline;
}
.MenuDeSessao li a{
  text-decoration: none;
  color: var(--CorCristal2);
  font-family: var(--FontQuicksand);
  font-size: var(--FontSizeMedium);
  padding-left: 10px;
}
/*
============================
// MainContent: 
é a div mae do conteudo
de grid e em baixo os demais 
itens deste grid
============================
*/
.MainContent{
    width: 100vw;
    height: 700px;
    background-color: var(--CorCristal1);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.room{
  margin: auto;
  width: 320px;
  height: 450px;
  border-radius: 0px 0px 10px 10px;
}
.room img{
  /*
  border-radius: 10px 10px 0px 0px;*/
  width: 320px;
  height: 200px;
  display: block;
}
.room div{
  border-radius: 0px 0px 10px 10px;
  width: 320px;
  height: 200px;
}
.room div h2{
  font-family: var(--FontHurricane);
  padding-top: 10px;
  font-size: 28px;
}
.room div h2::first-letter{
  font-size: 28px;
  border-top: 8px solid var(--CorVermelho);
}
.room div p{
  font-family: var(--FontQuicksand);
  font-size: 14px;
  width: 200px;
}
.Alugar{
    margin-left: 100px;
    width: 50px;
    height: 25px;
    background-image: linear-gradient(to right, #260B12, #592722);
    border-radius: 10px;
}
.Alugar a{
    text-decoration: none;
    color: var(--CorCristal2);
}  
.room:hover{
  border-radius: 100px 0px 100px 0px;
  border: 2px inset solid var(--CorCristal5);
  box-shadow: 2px 2px 2px black;
}
.room:hover img{
  border-radius: 100px 0px 0px 0px;
}
/*
===========================
/Servicos do Hotel 
===========================
*/
#ServicosDoHotel{
  width: 100%;
  height: 980px;
  background-color: var(--CorCristal1);
}
#ServicosDoHotel header {
    color: var(--CorVermelho);
    text-align: center;
    height: 150px;
    font-family: var(--FontQuicksand);
    font-size: var(--FontSizeMedium);
}
#ServicosDoHotel header p{
  padding-bottom: 20px;
  color: #080808;
  margin: auto;
  width: 500px;
  font-family: var(--FontQuicksand);
  font-size: var(--FontSizePequeno);
}
#ServicosDisponiveis{
  display: flex;
  flex-direction: row;
  height: 400px;
  flex-wrap: wrap;
  flex-grow: 20px;
}
.Servico{
  margin-bottom: 4px;
  margin-left: 8px;
  width: 440px;
  height: 400px;
}
.Servico div{
  margin-bottom: 20px;
  margin-top: 320px;
  padding: 0px 0px 20px 0px;
  height: 60px;
  width: 440px;
  background-image: var(--LinearGradientEscurp);
  background-repeat: no-repeat;
}
.Servico div h2,p{
  font-weight: bolder;
  font-family: var(--FontQuicksand);
  margin-left: 20px;
  color: var(--CorCristal5);
}
.Servico h2{
  margin-top: 60px;
}
#Servico1{
  background-image: url("../images/layout/Serviços/cozinha.jpeg");
  background-size: 440px 400px;
}
#Servico2{
  background-image: url("../images/layout/Serviços/Funcionario.jpeg");
  background-size: 440px 400px;
}
#Servico3{
  background-image: url("../images/layout/Serviços/serviçodequarto.jpeg");
  background-size: 440px 400px;
}
#Servico4{
  background-image: url("../images/layout/Serviços/pexels-maria-gloss-4197801.jpg");
  background-size: 440px 400px;
}
#Servico5{
  background-image: url("../images/layout/Serviços/pexels-chan-walrus-941864.jpg");
  background-size: 440px 400px;
}
#Servico6{
  background-image: url("../images/layout/Serviços/pexels-rodnae-productions-7915237.jpg");
  background-size: 440px 400px;
}
/*

*/
.FooterConter{
     width: 100vw;
     height: 300px;
     background-image: var(--CorDeServicoDeQuarto);
     grid-template-columns: 365px 490px 490px;
     display: grid;
     grid-template-areas:  
     "software sobre redes"
     ;
     color: var(--CorCristal2);
}
.software{
  width: 365px;
  height: 300px;
  grid-area: software;
}
.software img{
  margin-left: 125px;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.software h2{
  margin-left: 80px;
  width: 200px;
  font-family: var(--FontDeMenu);
  font-size: 18px;
}
.software p{
  margin-left: 80px;
  width: 250px;
  font-family: var(--FontDeMenu);
  font-size: 14px;
}
.abouts{
  width: 500px;
  height: 300px;
  grid-area: sobre;
}
.abouts ul{
  margin-left: 100px;
  margin-top: 80px;
  list-style-type: none;
  width: 300px;
}
.abouts ul li{
     width: 150px;
     padding-bottom: 30px;
}
.abouts ul li a{
    font-size: 18px;
    text-decoration: none;
    color: var(--CorCristal3);
}
.redes{
  grid-area: redes;
  width: 500px;
  height: 300px;
}
.redes h2{
  margin-top: 30px;
  text-align: center;
}
.redes ul{
  list-style: none;
  width: 300px;
}
.redes ul li{
  display: inline;
}
.redes p{
  margin-top: 150px;
  margin-left: 260px;
  font-family: var(--FontDeText);
  font-size: 18px;
}
/*
===============================
@Media Screen 
===============================
*/
/*
==============================
/Seleçao de Conta 
Secleted for Cont/
==============================
*/
#MainSelectionCont{
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/layout/Serviços/pexels-pixabay-164595.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
#LayoutCont{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-left: 20vw;
  margin-top: 20px;
  width: 800px;
  height: 600px;
}
#ContaAdm{
  display: inline-flex;
  position: relative;
  width: 300px;
  height: 300px;
  background-image: var(--GradienteRosaEscuro);
  transform: rotateZ(45deg);
}
#ContaCliente{
  display: inline-flex;
  position: relative;
  width: 300px;
  height: 300px;
  background-image: var(--GradienteCinza);
  transform: rotateZ(45deg);
}
#ContaAdm div{
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 200px;
  transform: rotateZ(-45deg);
  font-size: var(--FontSizeMedium);
  text-transform: uppercase;
}
#ContaCliente div{
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 200px;
  transform: rotateZ(-45deg);
  font-size: var(--FontSizeMedium);
  text-transform: uppercase;
}
#ContaCliente:hover{
    border-radius: 100px;  
    box-shadow: 5px 5px 5px black;
    animation: spinner 1.5s;
}
#ContaCliente:hover div{
  border-radius: 100px;
  background-color: var(--CorCristal2);
  box-shadow: 5px 5px 5px black;
}
#ContaAdm:hover{
  border-radius: 100px;
  box-shadow: 5px 5px 5px black;
  animation: spinner 1.5s;
}
#ContaAdm:hover div{
  border-radius: 100px;
  box-shadow: 5px 5px 5px black;
  background-color: var(--CorCristal2);
}
@keyframes spinner {
  100%{
    transform: rotate(418deg);
  }
}
/*
=================================
/ Formulario de Administrado
=================================
*/
#CorpoDoAdm{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/layout/Serviços/pexels-pixabay-164595.jpg");
  background-size: 100vw 100vh;
}
#FormDeAdm{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 800px;
  height: 600px;
  background-color: var(--CorBrancaClara);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.709); 
  background-image: url("../images/layout/Serviços/serviçodequarto.jpeg");
  background-size: 400px 600px;
  background-repeat: no-repeat;
  background-color: var(--CorCristal1);
  
}
#FormDeAdm form{
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 400px;
    height: 600px;
}
#HeaderAdm{
   padding-top: 30px;
   display: flex;
   width: 400px;
   height: 100px;
   background-color: var(--CorCristal1);
}
#HeaderAdm p{
  width: 200px;
  font-size: 18px;
}
#HeaderAdm a {
  border: 2px solid var(--CorVermelho);
  padding: 10px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  color: var(--CorVermelho);
}
#FormDeAdm form label{
  margin-left: 40px;
  margin-top: 30px;
  width: 360px;
  height: 30px;
  font-size: 26px;
  font-family: var(--FontQuicksand);
}
#FormDeAdm form input[type="text"]{
  margin-left: 30px;
  width: 350px;
  height: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}
#FormDeAdm form input[type="text"], select{
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  box-sizing: none;
}
#FormDeAdm form input[type="password"]{
  margin-left: 30px;
  width: 350px;
  height: 20px;
}
#FormDeAdm form input[type="password"], select{
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  box-sizing: none;
}
#EnviarDados{
  margin-top: 100px;
  margin-left: 250px;
  width: 100px;
  border-radius: 25px;
  height: 50px;
  color: blue;
  font-size: 18pxhp;
  border: 2px solid blue;
}
/*
=========================
/Servicos De Hotel
=========================
*/
#ServicosDoHotel{  
  width: 100vw;
  height: 1280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Servicos{
  margin-top: 10px;
  margin-left: 10px;
  width: 100vw;
  height: 300px;
}
#S1{
  display: flex;
  background-image: url("../images/layout/Serviços/pexels-chan-walrus-941864.jpg");
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;

}
#S2{
  display: flex;
  background-image: url("../images/layout/Serviços/pexels-rodnae-productions-7915237.jpg");
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: left;
}
#S3{
  display: flex;
  background-image: url("../images/layout/Serviços/serviçodequarto.jpeg");
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}
#S4{
  display: flex;
  background-image: url("../images/layout/Serviços/cozinha.jpeg");
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: left;
}