/*
*Atetion the copyright is this Infor2022, the componetes for this group is:
*Wesley
*Paulo Cesar
*Gabriela
*lucas
*Guilherme
Atenção todos os direitos pentece ao grupo Infor2022 todos os componetes acima sao os membros do
grupo
*/
/*
=====================
Font familys:
===================
*/
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*
===========
Global style
==========

*/
*{
  margin: 0px;
  box-sizing: content-box;
}
/*Variable for color and attributes*/
.menu{
  width: 1560px;
  height: 50px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left:  20px;
  background-color: #F2E8DC;
}
.menu .logo{
  text-align: center;
  font-size: 18x;
  height: 30px;
  background-color:#8C6D11;
  font-family: 'Lato', sans-serif;
}
.menu ul{
  padding-bottom: 0px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  list-style-type: none;
}
.menu ul li {
    padding-top: 20px;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-size: 18px;
    padding-left: 40px;
}
.menu ul li a{
  text-decoration: none;
  color: black;
}
.layout_image{
  margin-top: 30px;
  width: 1600px;
  height: 600px;
  background-image: url("../imagens/menu/pexels-pixabay-271624.jpg");
  background-repeat: no-repeat;
  background-size: 1600px 600px;
}
.layout_image h1{
    padding-top: 200px;
    text-align: center;
    font-size: 50px;
    font-family: 'Festive', cursive;
}
.about {
  padding-left: 700px;
  text-align: center;
  font-size: 50px;
}
.about button{
  background-color: #8C6D11;
  outline: 0;
  width: 100px;
  height: 40px;
  font-family: 'Lato', sans-serif;
  border-radius: 10px;
}
.introduction{
  margin-top: 30px;
  width: 600px;
  height: 300px;
  border-bottom-right-radius: 300px ;
  background-color: #401A04;
}
.filter{
  width: 300px;
  height: 300px;
  
  border-radius: 150px;
  background-color: #8C6D11;
  display: inline-block;
}
